<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="TwitterHttpBinding">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
      </webHttpBinding>
    </bindings>

    <behaviors>
      <endpointBehaviors>
        <behavior name="WebHttp">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <client>
      <endpoint
        address="http://www.twitter.com"
        binding="webHttpBinding"
        bindingConfiguration="TwitterHttpBinding"
        behaviorConfiguration="WebHttp"
        contract="InsiderCoding.Twitter.ITwitterClient" />
    </client>
  </system.serviceModel>
</configuration>